page-home {

}

.img-scroll{
	height:900px;
	width:900px;
	max-width:900px;
}

.yes-scroll{
	overflow-x:scroll;
	overflow-y:scroll;
	max-height:100%;
}

#board{
	height:100px;
}

#pin{
	height:30px;
	width:30px;
	position:fixed;
}

#cnvs{
	overflow-x:auto;
	overflow-y:auto;

}

